

.entry {
  line-height: 1.8;

  table th {
    font-weight: bold;
  }

  table tr {
    background-color: $white;
    border-top: 1px solid $gray80;
  }

  table th,
  table td {
    border: 1px solid $ddd;
    padding: 6px 13px;
  }

  table tr:nth-child(2n) {
    background-color: $f8f8f8;
  }
}
