.entry table th {
  font-weight: bold;
}

.entry table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.entry table th,
.entry table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

.entry table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
