@import "font-awesome/font-awesome";

.entry {
  line-height: $lineHeight * 1.3;
  word-wrap: break-word; // non-cjk 단어가 넘치지 않는다. 긴 영어 단어를 자른다.
  // word-break: keep-all; // 한글 단어가 잘리지 않는다. 대신 일본어가 잘리지 않아서 일본어 있을 시 깨진다 / break-all 알파벳 단위로 다 자른다.

  table th {
    font-weight: bold;
  }

  table tr {
    background-color: $white;
    border-top: 1px solid $gray80;
  }

  table th,
  table td {
    border: 1px solid $ddd;
    padding: 6px 13px;
  }

  table tr:nth-child(2n) {
    background-color: $f8f8f8;
  }

  // p {
  //   text-indent: 1.6rem;
  // }
}

.entry > p {
  text-indent: 1.6rem;
}

// Pagination
.pagination {
  padding: 0;
  text-align: center;

  li {
    border-radius: 2px;
    display: inline-block;
    height: 30px;
    text-align: center;
    vertical-align: top;

    a {
      color: #444;
      display: inline-block;
      font-size: $fontSize * 0.9;
      line-height: 30px;
      padding: 0 10px;
    }

    &.active a { color: #fff; cursor: default; }

    &.active { background-color: $primary-color; }

    &.disabled a {
      color: #999;
      cursor: default;
    }

    i {
      font-size: $fontSize * 0.9;
    }

    &.pages ul li {
      display: inline-block;
      float: none;
    }
  }
}

@media #{$medium-and-down} {
  .pagination {
    width: 100%;

    li.prev,
    li.next {
      width: 10%;
    }

    li.pages {
      overflow: hidden;
      white-space: nowrap;
      width: 80%;
    }
  }
}
