
//
// VARIABLES
//

// Media Query Ranges
$medium-screen: 992px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;

// Primary color
$primary-color: #0082ff;

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$gray80: #ccc;
$ddd: #ddd;
$f8f8f8: #f8f8f8;

// Font stacks
$appleSystem: system, -apple-system, BlinkMacSystemFont;
$helvetica: Helvetica;
$helveticaNeue: "Helvetica Neue";
// $georgia: Georgia, serif;
$hiraginoSans: Hiragino Sans;
$appleSDGothicNeo: "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", Apple SD Gothic Neo;

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
$notoSans: "Noto Sans";
$notoSansKR: "Noto Sans KR";
$notoSansJP: "Noto Sans JP";

$baseFontStack: Arial, sans-serif;

$myFontStack: $appleSystem, $helvetica, $helveticaNeue, $hiraginoSans, $appleSDGothicNeo, $notoSans, $notoSansJP, $notoSansKR, $baseFontStack;

// 'Noto Sans KR', Hevetica, "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", Apple SD Gothic Neo, 나눔바른고딕, NanumBarunGothic, 나눔바른고딕OTF, NanumBarunGothicOTF, 나눔고딕, "NanumGothic", "Nanum Gothic", "맑은 고딕", "Malgun Gothic", Ngothic, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

$fontSize: 17px;
$lineHeight: 1.4;
